<div class="container-fluid">

  <div id="carouselLandingControl" class="carousel slide" data-ride="carousel">

    <div class="carousel-overlay">
      <h1 class="display-3">Craft your story.</h1>
      <div class="row justify-content-center" style="margin-top: 3vw;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 text-center">
          <a class="btn btn-brand"></a>
        </div>
      </div>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="inner bg-cover" style="background-image: url(.\assets\carousal\landing-slide-A.jpg);">
      </div>
      <div class="carousel-item">
        <div class="inner bg-cover" style="background-image: url(.\assets\carousal\landing-slide-B.jpg);">
      </div>
      <div class="carousel-item">
        <div class="inner bg-cover" style="background-image: url(.\assets\carousal\landing-slide-C.jpg);">
      </div>
      <div class="carousel-item">
        <div class="inner bg-cover" style="background-image: url(.\assets\carousal\landing-slide-D.jpg);">
      </div>
      <div class="carousel-item">
        <div class="inner bg-cover" style="background-image: url(.\assets\carousal\landing-slide-E.jpg);">
      </div>
    </div>

  </div>
</div>
